/* color scheme and fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Roboto&display=swap');

:root {
--clr-blue: #5680e9;
--clr-blue-pale: #84ceeb;
--clr-blue-light: #5ab9ea;
--clr-purple-pale: #c1c8e4;
--clr-purple: #8860d0;
--font-fancy500: 'Arima', serif;
--font-robo: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/* box to help make page responsive and fill page */
.box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* header style */
header {
    flex: 0 1 auto;
    font-family: var(--font-fancy500);
    background-color: var(--clr-purple);
    text-align: center;
    color: var(--clr-purple-pale);
    font-size: 1.5rem;
}

/* main style */
main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    font-family: var(--font-robo);
    min-height: 30rem;
    justify-content: space-evenly;
    background-color: var(--clr-blue);
    color: var(--clr-purple-pale);
}
/* used grid for an easy / nnice form look for inputs */
form {
    display: grid;
    gap: 1.5rem;
    margin: 2rem;
    border: 1px solid var(--clr-purple);
    background-color: var(--clr-blue-pale);
    color: var(--clr-purple);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: .5rem .5rem var(--clr-blue-light);
}

/* to scale up from mobile. breakpoint 560px / 36rem */
@media only screen and (min-width: 36rem) {
    form {
        grid-template-columns: auto auto ;
    }
}

form > * {
    padding: 1rem;
    box-shadow: .5rem .5rem var(--clr-blue);
    border-radius: 20px;
}

form > * > label {
    font-family: var(--font-fancy500);
    font-size: 1.05rem;
    font-weight: 900;
    margin-right: .5rem;
}

.read {
    display: flex;
    justify-content: space-between;
}

.checked {
    color: orangered;
}

/* button style for user to add new book */
#addNewBoo {
    display: flex;
    justify-content: center;
    justify-self: center;
    max-width: 20rem;
    justify-content: center;
    align-self: center;
    background-color: var(--clr-blue-pale);
    border: 1px solid var(--clr-purple);
    color: var(--clr-purple);
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: .5rem .5rem var(--clr-blue-light);
}

/* footer style */
footer {
    flex: 0 1 2rem;
    display: flex;
    font-family: var(--font-robo);
    min-height: 5rem;
    background-color: var(--clr-purple);
    color: var(--clr-purple-pale);
    justify-content: space-evenly;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
}