/* color scheme and fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Roboto&display=swap');

/* this is vital, my color/design eye sucks. easily change all here */
:root {
--clr-blue: #5680e9;
--clr-blue-pale: #84ceeb;
--clr-blue-light: #5ab9ea;
--clr-purple-pale: #c1c8e4;
--clr-purple: #8860d0;
--font-fancy500: 'Arima', serif;
--font-robo: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(101deg, rgba(250, 0 , 0, 0), rgba(136, 233, 250, 0.649));
}

/* box to help make page responsive and fill page , is flex best, liking grid now*/
.box {
    height: 100vh;
    display: grid;
}

@media only screen and (min-device-width : 40rem) {
    #form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #hideForm {
        justify-content: center;
    }

    .read {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .books {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #addNewBook {
        align-self: center;
    }
}

/* header style */
header {
    font-family: var(--font-fancy500);
    background: linear-gradient(245deg, rgba(250, 0 , 0, 0), rgba(136, 233, 250, 0.649));
    border-bottom-left-radius: 20rem;
    border: 1px solid rgba(136, 233, 250,);
    text-align: center;
    color: var(--clr-purple);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

/* main style */
main {
    font-family: var(--font-robo);
    justify-content: space-evenly;
    color: var(--clr-purple-pale);
}

#hideForm {
    display: none;
    
}

#getForm {
    display: flex;
}

.libary {
    display: grid;
    padding: 1.5rem;
    margin: 0 2rem;
    border-radius: 12px;
}

/* remove default list settings */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*styles for read status box */
.divBox {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
    justify-content: space-between;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    display: grid;
    align-self: flex-start;
    padding: .2rem;
    border-radius: 12px;
    font-weight: 900;      
    color: var(--clr-purple);
    background-color: aliceblue;
    box-shadow: .2rem .2rem var(--clr-blue-light);
    border: 1px solid var(--clr-purple);
}

.books {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 1rem;
    margin: 1rem; 
    color: var(--clr-purple);
    line-height: 180%;
    font-family: var(--font-fancy500);
}

.book {
    display: grid;
    border-radius: 12px;
    padding: 1rem;
    background-color: aliceblue;
    box-shadow: .5rem .5rem var(--clr-blue-light);
}

.getForm {
    display: grid;
    font-size: 1.5rem;
    max-height: 4rem;
    padding: 1rem 2rem;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 20px;
    font-weight: 900;
    margin-bottom: 1rem;      
    color: var(--clr-purple);
    background-color: aliceblue;
    box-shadow: .5rem .5rem var(--clr-blue-light);
    border: 1px solid var(--clr-purple);
}

.delete {
    align-items: center;
    align-self: flex-end;
    border: none;
    background: linear-gradient(45deg, rgba(250, 0 , 0, 0), rgba(136, 233, 250, 0.649));
    border-radius: 12px;
    padding: .5rem;
    color: var(--clr-purple);
    font-family: var(--font-robo);
    font-weight: 900;
}

.delete:hover {
    border: 2px dotted var(--clr-purple);
}



/* used grid for an easy / nice form look for inputs */
#form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1rem;
    margin: 2rem;
    color: var(--clr-purple);
    padding: 1rem;
}



form > * {
    padding: 1rem;
    margin: 0 2rem;
    box-shadow: .5rem .5rem var(--clr-blue-light);
    border-radius: 20px;
    background-color: aliceblue;
}

form > * > label {
    font-family: var(--font-fancy500);
    font-size: 1.05rem;
    font-weight: 900;
    margin-right: .5rem;
}



#addNewBook {
    display: grid;
    font-size: 1.5rem;
    max-height: 4rem;
    padding: 1rem 2rem;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 20px;
    font-weight: 900;
    margin-bottom: 1rem;      
    color: var(--clr-purple);
    background-color: aliceblue;
    box-shadow: .5rem .5rem var(--clr-blue-light);
    border: 1px solid var(--clr-purple);
}

.read {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 1rem;
}

.checked {
    color: orangered;
}

/* footer style */
footer {
    display: flex;
    font-family: var(--font-robo);
    min-height: 3rem;
    background: linear-gradient(45deg, rgba(250, 0 , 0, 0), rgba(136, 233, 250, 0.649));
    color: var(--clr-purple);
    justify-content: space-evenly;
    border-top-right-radius: 20rem;
    margin-top: 1rem;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
}